.content {
    border-radius: 10%;
    max-height: max-content;
}
.card {
    background-color: rgba(135, 144, 141, 0.519);
    border-radius: 10%;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 20px rgba(255, 217, 0, 0.653);  
}
.card:hover {
    background-color: rgba(255, 217, 0, 0.489);
}

.card img {
    width: 100%;
    height:auto;
    border-radius: 10%;
    object-fit: cover;
}
.card p {
    width: 100%;
    height: 10%;
    font-size: 1rem;
    text-align: center;
    color: rgb(247, 248, 249);
    font-weight: bold;
}

@media (min-width: 760px) and (max-width: 1023px) {
    .card p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) and (max-width: 1920px) {
    .card p {
        font-size: 1.8rem;
    }
}