*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*MOBILE FIRST*/

body {
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 220, 0.47);
}

header {
    width: 100%;
    background-color: rgba(254, 223, 137, 0.612);
    font-size: 1.5rem;
    display: grid;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

ul {
    width: 100%;
    padding: 5%;
    background-color: rgba(254, 223, 137, 0.259);
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    width: 100%;
    background-color: rgba(254, 223, 137, 0.259);
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 30px;
    text-align: end;
    justify-content: center;

}

li, a {
    list-style: none;
    text-decoration: none;
    color: rgb(166, 3, 3);
}
.center {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}
.container-center {
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    align-content: center;
}
.contents {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.content {
    min-width: 100px;
    min-height: 200px;
    background-color: black;
}


/*Estilos @Media Responsive*/

@media (min-width: 760px) and (max-width: 1023px) {
    header {
        font-size: 2rem;
    }
    nav {
        padding: 0%;
    }
    ul {
        font-size: 1.8rem;
        gap: 20px;
    }
    
    footer {
        font-size: 1.8rem;
    }
    .center {
        padding-left: 0%;
        padding-right: 0%;
    }
    .container-center {
        margin-left: 10%;
    }    
    .contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .content {
        min-width: 150px;
        min-height: 250px;     
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    header {
        font-size: 2rem;
    }
    nav {
        padding: 0%;
    }
    ul {
        font-size: 1.8rem;
        gap: 20px;
    }
    
    footer {
        font-size: 1.8rem;
    }
    .center {
        padding-left: 0%;
        padding-right: 0%;
    }
    .container-center {
        margin-left: 10%;
    }    
    .contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .content {
        min-width: 150px;
        min-height: 250px;     
    }
}




/*Estilos Mobile First

body {
    background-color: rgba(209, 248, 193, 0.403);
}
header {
    height: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
p {
    height: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    padding: 1%;
    text-transform: uppercase;
    text-align: center;
}
nav ul {
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}
li {
    padding: 1%;
    font-size: 1rem;
}
main {
    width: 100%;
    height: auto;
}
.container-center {
    width: 90%;
    margin-top: 30px;
    align-content: center;
}
.contents {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.content {
    min-width: 100px;
    min-height: 200px;
    background-color: black;
}

/*Estilos @Media Responsive

@media (min-width: 760px) and (max-width: 1023px)  {
    header {
        width: 100%;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
    nav ul {
        padding: 1%;
    }
    li {
        padding: 1%;
        font-size: 1.5rem;
    }
    main {
        display: grid;
        padding-right: 15%;
        justify-content: center;
    }
    .container-center{
        width: 70%;
    }
    .contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .content {
        width: 250px;
        height: 300px;
    }
}
@media (min-width: 1024px) and (max-width: 1920px){
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
    nav ul {
        padding: 1%;
    }
    li {
        font-size: 1.5rem;
    }
    main {
        width: 100%;
        display: grid;
        justify-content: center;
    }
    .container-center{
        width: 90%;
    }
    .contents {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .content {
        width: 350px;
        height: 400px;
    }
}

*/