/* ESTILOS INICIALES */

*{
  padding: 0;
  margin: 0;
  max-height: fit-content;
  box-sizing: border-box;
  font-family: 'Roboto', 'Times New Roman', Times, serif, sans-serif;
  --titlecolor: rgb(86, 6, 2);
}

body {
  padding: 5%;
}
main {    
  display: grid;
  justify-content: center;
}
nav {
  display: flex;
  justify-items: center;
}
/* ESTILOS TITULO */

.title {
  color: var(--titlecolor);
  font-size: 25px;
  text-align: center;
}
h2 {
  font-size: 30px;
  padding: 2%;
}
/*ESTILOS NAV*/
.container-nav {
  text-decoration: none;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}
.container-nav li {
  border: 4px dotted rgb(86, 6, 2);
  border-radius: 10%;
  cursor: pointer;
  padding: 10px 10px;
  text-align: center;
}
.container-nav a {
  color: black;  
  text-decoration: none;
}

/*ESTILOS CENTRALES*/
.container-main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.container-main a {
  width: fit-content;
  block-size: fit-content;
  text-align: center;
}
.container-main img {
  min-width: 200px;
  min-height: 150px;
  max-height: 50%;
  max-width: 50%;
}

/* ESTILOS Footer */ 

.container-footer {
  max-width: 90%;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 30%;
}
.container-footer p {
  text-align: center;
  padding-bottom: 5%;
  margin-top: 15%;
}

article .right {
  padding-right: 20px;
}

.container-footer a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

/*SECTION ABOUT ME*/

.contents-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.contents-icons a {
  text-decoration: none;
}

p{
  font-size: 22px;
  margin-top: 10px;
}

.perfil {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: justify;
}
.perfil img {
  min-width: 150px;
  max-width: 300px;
  border-radius: 20%;
}

.blakIcon {
  max-width: 100px;
  max-height: 100px;
  margin-right: 30px;
}

/*MEDIA QUERIES*/

/*Estilos @Media Responsive*/

@media (min-width: 760px) and (max-width: 1200px) {
  ul {
    display: flex;
    gap: 20px;
  }
  .container-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) and (max-width: 1920px){
  ul {
    display: flex;
    gap: 40px;
  }
  .container-main {
    grid-template-columns: repeat(4, 1fr);

  }
}