/* ESTILOS INICIALES */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Times New Roman', Times, serif, sans-serif;
  --titlecolor: rgb(86, 6, 2);
}
html {
  height: 100vh;
}
body {
  padding: 5%;
}

/* ESTILOS TITULO */

.title {
  color: var(--titlecolor);
  font-size: 25px;
  text-align: center;
}


/* ESTILOS Footer */ 

.block_footer {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-top: 20px;
}
