/* ESTILOS INICIALES */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Times New Roman', Times, serif, sans-serif;
  --titlecolor: rgb(86, 6, 2);
}
html {
  height: 100vh;
}
body {
  padding: 5%;
}

/* ESTILOS TITULO */

.title {
  color: var(--titlecolor);
  font-size: 30px;
  text-align: center;
}
/* ESTILOS BLOG */
.list_blog h2 {
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
.list_blog {
  display: grid;
}
.block_post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.post h2 {
  font-size: 26px;
  text-align: center;
  padding-bottom: 3%;
}
.post p {
  font-size: 18px;
}
.post {
  padding-bottom: 5%;
}

/* ESTILOS YOUTUBE */ 

.list_youtube h2 {
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
.block_youtube {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
}
.block_youtube p {
  padding-bottom: 2%;
}


/*ESTILOS HOME*/


