/* ESTILOS INICIALES */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Times New Roman', Times, serif, sans-serif;
  --titlecolor: rgb(86, 6, 2);

}
html {
  height: 100vh;
}
body {
  padding: 5%;
}

/* ESTILOS TITULO */

.title {
  color: var(--titlecolor);
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
/* ESTILOS BLOG */
.list_blog h2 {
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
.list_blog {
  display: grid;
}
.block_post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.post h2 {
  font-size: 26px;
  text-align: center;
  padding-bottom: 3%;
}
.post p {
  font-size: 18px;
}
.post {
  padding-bottom: 5%;
}

/* ESTILOS YOUTUBE */ 

.list_youtube h2 {
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
.block_youtube {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-top: 20px;
}
.block_youtube p {
  padding-bottom: 2%;
}

/*ESTILOS NAV*/
.container-nav {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  list-style-type: none;
  margin-top: 10px;
}

.container-nav a {
  color: black;  
  text-decoration: none;
}


/* ESTILOS Footer */ 

.container-footer {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 30%;
  margin-top: 20px;
}
.container-footer p {
  text-align: start;
  margin-top: 15%;
}

article .right {
  padding-right: 20px;
}

.container-footer a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}