/*ESTILOS GENERALES*/
:root{
  margin: 0;
  padding: 0%;
  font-family: cursive, 'Times New Roman', Times, serif, sans-serif;
  --fondo1: linear-gradient(to right top, #ccacff, #abc3ff, #9cd4ff, #a5e1fa, #bfeaf0);
  --fondo2: linear-gradient(to right top, #ffc4c4, #ffd1bc, #fce1bd, #f1f0c8, #e4ffdc);
  --fondo3: linear-gradient(to right top, #f8def9, #ffdfe7, #ffe6d4, #fff2cd, #e4ffdc);;
}
html {
  background-image: var(--fondo3);
}

body{
  width: 90%;
  height: auto;
  font-size: 1rem;
  padding: 2%;
}
main {
  width: 90%;
  height: auto;
}

img {
  max-width: 2.5rem;
}

a {
  text-decoration: none;
}

/*ESTILOS HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
button {
  border-radius: 40%;
  border-color: #fdf7d3e1;
  max-width: 3rem; 
}

.oscuro-claro {
  border-radius: 100%;
  max-width: 2rem; 
}

.perfil {
  border-radius: 30%;
  min-width: 2rem;
  max-width: 3rem;
}
.name {
  font-size: 2rem;
  padding-left: 1rem;
}

/*ESTILOS ASIDE*/

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  position: fixed;
  gap: 20px;
  height: auto;
  padding-right: .5rem;
}

li {
  list-style: none;
  border: #ccacff solid 3px;
}

.container-nav {
  /*float:right;*/
  float: inline-end;
  font-size: 1.5rem;
  /*margin-right: 5%;*/
  min-width: 5%; 
}

